# Backend
NODE_ENV=development
PORT=4000
API_PREFIX=/api/v1
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5433/voiture_saas?schema=public
JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173
FRONTEND_APP_URL=http://localhost:5173
FILE_STORAGE_DRIVER=local

# Cloudflare R2 (S3 compatible storage)

R2_ACCESS_KEY_ID=8b96e996a23c1293d2b4e707c253733d
R2_SECRET_ACCESS_KEY=80ee7f098ac90b69d2e2078c15df7a10da676bdb81152ddfd812fa83aa9b3b4d
R2_PUBLIC_URL=


R2_ACCOUNT_ID=56ef241ef0b4438f08828c279d043875
R2_BUCKET_NAME=voiture-saas-documents
R2_ENDPOINT=https://56ef241ef0b4438f08828c279d043875.r2.cloudflarestorage.com

# Seed
SUPER_ADMIN_EMAIL=admin@voiture-saas.local
SUPER_ADMIN_PASSWORD=ChangeMe123!
SUPER_ADMIN_FIRST_NAME=Super
SUPER_ADMIN_LAST_NAME=Admin

# Frontend
VITE_API_URL=http://localhost:4000/api/v1
